body{
  min-width: 768px;
}
#main{
  position: relative;
  width: 60%;
  height: 50%;
  margin-left:20%;
  margin-top:4rem;
  border: 2px solid rgb(53, 53, 53);
}
#footer {
  width: 60%;
  margin:2rem 20%;
  font-size: 1rem;
}
a:active ,
a:link,
a:visited,
a:hover {
  text-decoration: none;
  color: black;
}

section:first-child {
  margin-left:8%;
  margin-top:5%;
  font-size: 1.3rem;
}
#canvas_section{
  height: 60vh;
}
#canvas {
  width: 100%;
  height: 100%;
  position: relative;
  display: none;
}
canvas{
  position: absolute;
  top:0;
  left: 0;
}
#canvas2{
  z-index: -1;
}

section div:first-child div{
  margin-top: 10px;
  font-weight: bold;
}
.popup{
  display: none;
}
.popup.on { 
  display: block;
  position: absolute;
  top:35% ;
  left:15%;
  text-align: center;
  line-height:1.6rem;
  width: 60%;
  padding:1.2rem;
  border: 2px solid rgb(53, 53, 53);
  box-shadow: 2px 2px rgb(80, 79, 79) ;
  background-color: #fff;
  z-index: 2;

}
.popup.on div{
  margin-bottom: 20px;
}
.popup.on #state{
  font-size: 1.8rem;
}
.popup.on button{
  font-size: 1.3rem;
  background-color: rgb(214, 205, 205);
  box-shadow: 1px 2px rgb(168, 168, 168);
}

.popup.on button:hover{
  background-color: rgb(255, 205, 98);
}

/*footer*/
.iconsUl.on {
  display: block;
}
.iconsUl {
  display: none;
}
#footer {
  display: flex;
}
#footer>div:first-child a{
  margin-right: 2rem;
}
.iconsBtn {
  background-color: #ffff;
  border: none;
}
#footer ,
.iconsBtn ,
#footer a {
  font-size: 1rem;
}
.iconsBtn , 
#footer a {
  padding: 5px 10px;
}
#footer #iconsUl a {
  padding: 0.5rem
}
.iconsBtn:hover ,
#footer a:hover{
  border-radius: 15px;
  background-color: rgb(189, 237, 252);
  box-shadow: rgba(63, 63, 63, 0.1) 0px 4px 6px -1px, rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
}
#footer #iconsUl a:hover{
  background-color: rgb(248, 248, 248);
  border-radius: 50%;
}
#icons {
  position: relative;
}
.iconsBtn.on, .iconsUl.on{
  background-color: rgb(214, 217, 218);
  
}
#iconsUl {
  position: absolute;
  top:-2rem;
  left:4rem;
  list-style: none;
  padding: 1rem 0;
  width: 18rem;
  border-radius: 10px;
}

li{
  float: left;
  padding: 0 0.5rem ;
}
